.header {
    display: flex;
    background-color: rgb(249, 248, 248);
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items {
    padding: 0px 20px;

}

.nav-items > ul {
    display: flex;
    font-size: 20px;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.search{
    display: flex;
    padding: 0px 20px;
}

.searchbox {
    padding: 10px;
    border: 1px solid black;
}

.search-btn{
    margin-left: 5px;
    width: 60px;
    color: orangered;
    font-weight: bold;
}

.card-sec{
    /* margin-top: 35px; */
    box-sizing: inherit;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin: 5px;
    padding: 10px;
    background-color: #e2e2e2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover{
    background-color: white;
}


.info{
    font-family: cursive;
}
.food-img {
    width: 100%;
}

.shimmer-container{
    margin-top: 35px;
    box-sizing: inherit;
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    display: flex;
    flex-wrap: wrap;
    animation: shimmer 2s infinite linear;
    width: 200px;
    height: 400px;
    margin: 5px;
    padding: 10px;
    background-color: #e2e2e2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.filter {
    width: 100%;
    display: flex;
    margin: 15px;
    justify-content: space-between;
}

.filter-btn{
    width: 15%;
}