.header {
    display: flex;
    background-color: rgb(249, 248, 248);
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items {
    padding: 0px 20px;

}

.nav-items > ul {
    display: flex;
    font-size: 20px;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.search{
    display: flex;
}

.searchbox {
    padding: 10px;
    margin: 5px;
    width: 97%;
    border: 1px solid black;
}

.searchlogo{
    width: 60px;
}

.card-sec{
    box-sizing: inherit;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin: 5px;
    padding: 10px;
    background-color: #e2e2e2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover{
    background-color: white;
}


.info{
    font-family: cursive;
}
.food-img {
    width: 100%;
}